@model Beerhall.Models.ViewModels.BrewerEditViewModel

@{
    ViewData["Title"] = (bool)ViewData["IsEdit"] ? "Edit brewer" : "Create brewer";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PostalCode"></label>
        <select asp-for="PostalCode" asp-items="@(ViewData["Locations"] as SelectList)" class="form-control">
            <option value="">-- select location --</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Turnover"></label>
        <input asp-for="Turnover" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>